body{
	background-color:#3a4a5a;
}

.c1{
	background-color: #ffffff;
	width:50%;
	margin:  auto;
}

header,footer{
	text-align: center;
	background-color:#3a4a5a;
	padding:10px 0px;
	color:white;
}
[alt]{
	width: 100%;
}

h2{
	color:#b08961;
	text-align: center;
	padding-top: 20px;
}

table{
	width:90%;
	margin-bottom: 40px;
	border-collapse: collapse;
	margin:0px 5px;
	margin: auto;
	
}

tr:nth-child(3),tr:nth-child(5),tr:nth-child(7){
	color:#9d9d9d;
	background-color:#e5e8ed;
	
}

tr:nth-child(even){
	color:#9d9d9d;
	
}

tr:nth-child(1){
	background-color:#c4cdd6;
}

.c2{
	background-color:#576778;
	width:50%;
	margin: auto;
	height: 0.5px;
}
 p{
	text-align:inherit;
	padding-bottom: 30px;
	 width:75%;
	 margin: auto;
	 color: #aeaeae;
	
}
nav{
	text-align: center;
	
}

nav i{
	background-color:darkgray;
	color:white;
	padding:7px;
	margin:0px 3px;
	border-radius: 3px; 
}
nav i:hover{
	background-color:mediumorchid;
}

.c3f{
	width:90%;
/*	background-color: aqua;*/
	
	margin: auto;
	box-sizing: border-box;
	
}

figure{
	width:calc(33.33% - 23px);
	margin: 0px;
	display: inline-block;
	padding-bottom: 10px;
}

.f1{
	padding-right: 20px;
/*	background-color: blueviolet;*/
}

.f2{
	padding-right: 10px;
	padding-left: 10px;
/*	background-color: brown*/
}
.f3{
	padding-left: 20px;
	padding-right: 0px;
/*	background-color: chartreuse*/
}

figcaption{
	text-align: center;
}

a{
	text-decoration: none;
}
div a{
	color:black;
}

footer a{
	color: white
}

